#Zabbix Agent
[mysql]
host=localhost
user=zabbix-monitor
password=redhat@123
socket= /var/lib/mysql/mysql.sock
[mysqladmin]
host=localhost
user=zabbix-monitor
password=redhat@123
socket= /var/lib/mysql/mysql.sock
